asgiref
diff-match-patch
Django
gunicorn
uvicorn
setuptools
django-cors-headers
django-admin-interface
django-colorfield
django-filter
django-import-export
django-jazzmin
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
PyJWT
drf-nested-routers
pillow
python-slugify
sqlparse
tablib
text-unidecode
python-dotenv
psycopg2-binary
dj-database-url
whitenoise[brotli]
